body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #fcf6ed;
    /* very light peach */
    color: #2a3a2a;
    /* dark green text */
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1rem;
}

footer {
    color: #2a3a2a;
    margin: 3rem auto;
    padding: 0 1rem;
}

header {
    background-color: #2a3a2a;
    /* dark green */
    text-align: center;
    padding: 2.5rem 1rem;
    font-family: 'Playfair Display', serif;
    color: #f7c9b0;
    /* soft peach */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
}

header h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

header p {
    font-style: italic;
    margin-top: 0.5rem;
    color: #e8bfa6;
}

/* Top bar container */
header.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e6950;
    padding: 1rem 2rem;
}

.topbar .title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    white-space: nowrap;
    min-width: 0
}

.title::after {
  content: attr(data-short);
  display: none;
}

@media (max-width: 500px) {
  .title {
    font-size: 0;
  }
  .title::after {
    flex-wrap: nowrap;
    display: inline;
    font-size: 1rem;
    font-weight: normal;
  }
  .title.hidden::after {
    display: none; /* allow JS to hide short title too */
  }
}

/* tab style */
.tab-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    min-width: 0
}

.tab-button {
    all: unset;
    /* remove all default button styling */
    font-family: 'Playfair Display', serif;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #f7c9b0;
    background-color: transparent;
    position: relative;
}

.tab-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #f7c9b0;
    transition: width 0.3s ease;
}

.tab-button:hover::after,
.tab-button.active::after {
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* text image box */

.image-text-block {
    display: flex;
    align-items: last baseline;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.image-text-block img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

.text-content {
    flex: 1;
    min-width: 200px;
}

/* imgages */

.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;     /* Center vertically */
}

.image-row img {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
    width: 100%;
    max-width: 700px;
    /* allows wrapping with a minimum width */
    border-radius: 5px;
}